*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display:flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: purple;
}

.wrapper{
    width:400px;
    background-color: whitesmoke;
    border-radius: 15px;
    padding: 30px 25px;
}

.wrapper header{
    font-size: 30px;
    font-weight: 800;
    text-align: center;
}

.wrapper .content{
    text-align: center;
    font-size: 100px;
    font-weight: 450;
}

.content .buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;

}

.buttons button{
    border: none;
    outline: none;
    font-size: 15px;
    color: whitesmoke;
    cursor: pointer;
    padding: 13px 22px;
    background-color: purple;
    border-radius: 30px;

}

.buttons button:hover{
    color:purple;
    background-color: gainsboro;
}

